<div #exports>
  <head>
    <style>
      table {
        width: 100%;
        border-collapse: collapse;
      }

      th,
      td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
      }

      th {
        text-align: left;
      }
    </style>
  </head>

    <table>
      <thead>
        <tr>
          <th colspan="2">Informações do Cliente</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Nome do Cliente:</td>
          <td>João da Silva</td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>joao@example.com</td>
        </tr>
        <tr>
          <td>Telefone:</td>
          <td>(00) 12345-6789</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th colspan="2">Informações do Orçamento</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Descrição:</td>
          <td>Manutenção de computador</td>
        </tr>
        <tr>
          <td>Data:</td>
          <td>2023-08-12</td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th>Valor do Orçamento</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>R$ 500,00</td>
        </tr>
      </tbody>
    </table>
</div>
<button (click)="generatePDF()">Gerar PDF</button>
